<div class="carousel">
  <ng-container *ngFor='let movie of visibleMovies; let i = index'>
    <mat-card class="slide">
      <mat-card-header [@slideAnimation]="animationType">
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
      </mat-card-header>
      <div class="poster-container">
        <img class="poster" [src]='movie.image' [@slideAnimation]="animationType" />
      </div>

      <mat-card-content class="slide-content" [@slideAnimation]="animationType">
        <p>{{movie.crew}}</p>
        <ng-container *ngIf="movie.imDbRating !== ''; else notReleased">
          <p><b>IMDB Rating: {{ movie.imDbRating }}</b></p>
        </ng-container>
        <ng-template #notReleased>
          <p><b>The movie is not released yet!</b></p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <button class="control prev" mat-mini-fab aria-label="Previous" (click)="onPreviousClick()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button class="control next" mat-mini-fab aria-label="Next" (click)="onNextClick()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
