.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-width: 240px;
  max-width: 380px;
  height: 700px;
  border-radius: 0.5em;
  margin: 10px;
}

.poster-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 400px; /* Defina uma altura fixa para o contêiner de pôsteres */
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Use 'cover' para manter a proporção e preencher o contêiner */
  border-radius: 0.5em;
}

.carousel::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0E1F33, transparent);
  transform: translateX(100%);
  animation: close-right 2s forwards;
  z-index: -1;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.control {
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  color: black;
  font-weight: bold;
  margin: 10px;
}

.slide:hover {
  animation: transform 0.5s ease-in-out;
}

.menu {
  position: absolute;
  top: 25px;
  left: 10px;
  background-color: #FFD700;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.sort-description {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.imdb {
  color: #FFD700;
}

.not-released{
  color: red
}

@keyframes close-right {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes transform {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 340px) {
  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .control {
    position: absolute;
    background-color: #FFD700;
    top: 45vh;
    padding: 0.5em;
    border-radius: 50%;
  }

  .prev {
    left: 15px;
  }

  .next {
    right: 15px;
  }
}

  @media screen and (min-width: 460px) {
    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .slide {
      height: auto;
      margin: 5px;
      padding: 10px;
      text-align: center;
    }

    .poster-container {
      height: 400px;
    }

    .sort-description {
      bottom: 75px;
    }
}
